<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Obrigado por se registrar no MeuMedico.com!</h1>
    <p>
    	Nome: <%= @user.name %>
    	<br/>
    	E-Mail: <%= @user.email %>
    	<br/>
    	Senha: <%= @user.password %>
	</p>
  </body>
</html>