<%= render partial: "topbar/default", locals: {active_button: "none"} %>

<div class="container" >
	<div class="row">
		<div class="col-md-6 well" >
			<h2>Avaliação do Médico	</h2>
			<p>Compartilhe sua experiência com outros pacientes.</p>

			<span style="font-weight: bold;" >Avaliação:</span>
			<input type="range" min="1" max="10"></p>

			<span style="font-weight: bold;" >Comentários:</span>
			<textarea class="form-control" ></textarea>

			<br>

			<%= link_to "Salvar", doctors_doctorDetails_path(@doctor), {:class => "btn btn-primary"} %>
			<%= link_to "Voltar", doctors_doctorDetails_path(@doctor), {:class => "btn btn-default"} %>
		</div>
	</div>
</div>
