<%= render partial: "topbar/default", locals: {active_button: "minhas_presc"} %>

<div class="container">
	<div class="row jumbotron">
		<div class="col-md-12 text-left">
			<h2>Prescrições</h2>
			<table class="table table-bordered">
				<thead>
					<th class="text-center"><h3>Medicação</h3></th>
					<th class="text-center"><h3>Posologia</h3></th>
					<th class="text-center"><h3>Duração</h3></th>
				</thead>
				<tbody "style: font: 150%;">
					<tr>
						<td>Isotretinoína</td>
						<td>1x ao dia</td>
						<td>3 semanas</td>
					</tr>
						<td>Vitamina C</td>
						<td>2x ao dia</td>
						<td>2 meses</td>
				</tbody>
			</table>
		</div>
	</div>
</div>