<%= render "topbar/default" %>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 col-md-offset-1">
					<h1>
						Cadastro de Usuário:
					</h1>
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					    <label for="inputName" class="col-md-2 control-label">Nome</label>
					    <div class="col-md-10">
					      <input type="email" class="form-control" id="inputName" placeholder="Nome">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail" class="col-md-2 control-label">Email</label>
					    <div class="col-md-6">
					      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword" class="col-md-2 control-label">Senha</label>
					    <div class="col-md-6">
					      <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-md-offset-2 col-md-10">
					      <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
					    </div>
					  </div>
					</form>
				</div>
				<div class="col-md-3 col-md-offset-1 well">
					<h1>
						Médicos:
					</h1>
					<p>
						Deseja se registrar como médico do sistema?
					</p>
					<a href="#" class="btn btn-primary">
						Registro para Médicos »
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

