<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Essa mensagem foi gerada na opção contatos</h1>
    <p>
    	<strong>Nome</strong>: <%= @message[:name] %>
    	<br/>
    	<strong>Mensagem</strong>: <%= @message[:message]%>
	</p>
  </body>
</html>